.main {
    background-image: url('../images/01.png');
    background-repeat: no-repeat;
    background-size: 100%;
    // background-color: black;
    h5 {
        font-family: Poppins-Medium;
        color: #fff;
        padding: 25px 0;
        font-size: 45px;
        line-height: 1;
        span {
            font-size: 15px;
            font-family: Poppins-Light;
        }
    }
    i {
        color: #fff;
        animation-name: toright;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }
    h6 {
        font-family: Poppins-Medium;
        color: #fff;
    }
    .btn1 {
        text-decoration: none;
        width: 250px;
        font-family: Poppins-Light;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        padding: 15px 0;
        border: 3px solid #fff;
        transition: .4s;
        margin: 10px;
        color: #fff;
        &:hover {
            border-color: rgb(250, 153, 118);
            color: rgb(250, 153, 118);
        }
    }
}

#about {
    .nav-item {
        a {
            color: #111352;
            font-weight: 550;
            font-family: Poppins-Medium;
            background-color: #fdd034;
            margin-right: 5px;
        }
        .active {
            background-color: #111352;
            color: #fdd034;
        }
    }
}
@media screen and (min-width: 1480px) {
    .main{
        padding-top: 50px!important;
    }
    #about{
        padding-top: 50px !important;
    }
  }
@media screen and (min-width: 1700px) {
    .main{
        padding-top: 100px!important;
    }
    #about{
        padding-top: 100px !important;
    }
  }
@media screen and (min-width: 1900px) {
    .main{
        padding-top: 150px!important;
    }
    #about{
        padding-top: 150px !important;
    }
  }
@media only screen and (max-width: 576px) {
    .main {
        background-image: none;
        background-size: cover;
        height: 500px;
        // background-color: black;
        h5 {
            font-family: Poppins-Light;
            color: #fff;
            padding: 25px 0;
        }
        h6 {
            font-family: Poppins-Medium;
            color: #fff;
        }
        .left {
            background-image: url('../images/01_2.png');
            // height: 500px;
        }
        .right {
            background-image: url('../images/01_1.png');
            background-size: 100%;
            background-repeat: no-repeat;
            a {
                color: transparent;
                border-color: transparent;
            }
        }
        .btn1 {
            text-decoration: none;
            width: 130px;
            font-family: Poppins-Light;
            font-weight: 600;
            font-size: 10px;
            text-align: center;
            padding: 10px 0;
            border: 3px solid #fff;
            transition: .5s;
            margin: 5px;
            color: #fff;
        }
    }
    #about {
        .nav-item {
            a {
                color: #111352;
                font-weight: 550;
                font-family: Poppins-Medium;
                background-color: #fdd034;
                margin-right: 5px;
            }
            .active {
                background-color: #111352;
                color: #fdd034;
            }
        }
    }
}

// Target International School
.tis {
    width: 100%;
    img {
        width: 100%;
    }
    h1 {
        font-family: Poppins-Medium;
    }
    .container {
        h4 {
            font-family: Poppins-Medium;
            text-align: center;
            color: #090227;
            font-size: 56px;
        }
        p {
            font-family: Poppins-Light;
            font-size: 18px;
        }
    }
    // Line
    .line {
        background-color: #fdd034;
        h6 {
            font-family: Poppins-Medium;
            font-size: 24px;
            margin: 0;
        }
        a {
            color: rgb(255, 0, 0);
            font-family: Poppins-Medium;
            transition: .4s;
            text-decoration: none;
            font-size: 20px;
            // border: 1px solid red;
            border-radius: 15px;
            padding: 3px 8px;
            background-color: #fff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            &:hover {
                color: red;
                transform: translateX(5px);
            }
        }
    }
    // Fanlar
    .subjects {
        h1 {
            font-family: Poppins-Light;
            font-weight: 600;
        }
        p {
            font-size: 16px;
        }
        .left {
            .sub {
                width: 200px;
                height: 100px;
                padding-top: 40px;
                text-align: center;
                background-image: url(../images/bgimg.png);
                background-size: 100%;
                background-repeat: no-repeat;
                float: left;
            }
            h6 {
                font-family: Poppins-Light;
                font-size: 23px;
                color: #fdd034;
                font-weight: 600;
                letter-spacing: 1px;
            }
            p {
                height: 300px;
                // display: none;
            }
            ul {
                li {
                    font-family: Poppins-Light;
                    list-style-image: url('../images/targeticon10.png');
                    padding: 3px 0;
                }
            }
        }
    }
    // Photo
    .photos {
        h1 {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .row {
            .col-6 {
                padding: 5px;
            }
        }
    }
    // Jarayonlar lavhalar
    .process {
        font-family: Poppins-Medium;
        background-color: #111352;
        h1 {
            color: #fdd034;
            text-align: center;
            font-family: Poppins-Light;
            font-weight: 600;
            letter-spacing: 2px;
        }
        iframe {
            height: 200px;
        }
    }
    // Bizning jamoa
    .our_team {
        font-family: Poppins-Medium;
        background-color: #fdd034;
        .card {
            h5 {
                font-family: Poppins-Light;
                font-weight: 400;
                font-size: 20px;
            }
            p {
                margin-bottom: 8px;
            }
        }
    }
    // Ro'yxatdan o'tish
    .registr {
        background-color: #111352;
        padding-bottom: -55px;
    }
    // Footer
    .footer {
        font-family: Poppins-Light;
        background-color: #111352;
        h2 {
            color: #fdd034;
            font-size: 35px;
            font-family: Poppins-Medium;
            height: 80px;
        }
        a {
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            transition: .4s;
            &:hover {
                transform: translateX(10px);
            }
        }
        hr {
            border-color: #fdd034;
        }
        p {
            color: #fdd034;
        }
    }
}

// Responsive responsive
// Responsive responsive
// Responsive responsive
@media only screen and (max-width: 576px) {
    .tis {
        h1 {
            font-size: 25px;
        }
        img {
            width: 100%;
        }
        .container {
            h4 {
                font-size: 24px;
            }
            p {
                font-size: 15px;
            }
        }
        // Line
        .line {
            h6 {
                font-family: Poppins-Medium;
                font-size: 20px;
                margin: 0;
            }
            a {
                font-family: Poppins-Medium;
                font-size: 16px;
            }
        }
        // Fanlar
        .subjects {
            h1 {
                font-family: Poppins-Light;
                font-weight: 600;
            }
            ul {
                li {
                    font-size: 14px;
                }
            }
            p {
                font-size: 14px;
            }
            .left {
                p {
                    height: 265px;
                }
            }
        }
        // Jarayonlar lavhalar
        .process {
            h1 {
                color: #fdd034;
                text-align: center;
                font-family: Poppins-Light;
                font-weight: 600;
                letter-spacing: 2px;
            }
            iframe {
                height: 200px;
            }
        }
        // Bizning jamoa
        .our_team {
            font-family: Poppins-Medium;
            background-color: #fdd034;
            .card {
                h5 {
                    font-size: 14px;
                    height: 25px;
                }
                p {
                    font-size: 10px;
                }
            }
        }
        // Footer
        .footer {
            font-family: Poppins-Light;
            h2 {
                font-size: 23px;
                font-family: Poppins-Medium;
                height: 60px;
            }
            a {
                color: #fff;
                font-size: 13px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}